<div class="profile_data_header">
    <div class="profile_data_header-item">
        <p>Личный кабинет</p>
    </div>
    <div class="profile_data_header-item">
        <a href="{{ logout }}" class="profile_data_header-item__logout">
            Выход
        </a>
    </div>
</div>
<div class="profile_data_container">
    <div class="profile_data_container-item">

    </div>
    <div class="profile_data_container-item">
        <form action="{{ action }}" method="post">
            <p>Личные данные</p>
            <input value="{{ firstname }}" name="firstname" type="text" placeholder="Имя" />
            {% if error_firstname %}
                <p class="error">{{ error_firstname }}</p>
            {% endif %}
            <input value="{{ lastname }}" name="lastname" type="text" placeholder="Фамилия" />
            {% if error_lastname %}
                <p class="error">{{ error_lastname }}</p>
            {% endif %}
            <input value="{{ email }}" name="email" type="email" placeholder="Email" />
            {% if error_email %}
                <p class="error">{{ error_email }}</p>
            {% endif %}
            <input value="{{ telephone }}" name="telephone" type="text" placeholder="Телефон" />
            {% if error_telephone %}
                <p class="error">{{ error_telephone }}</p>
            {% endif %}
            <button type="submit" >Сохранить настройки</button>
        </form>

    </div>
</div>