{{ header }}
{{ content_top }}

{{ home_products }}
{{ category_catalog }}
{{ small_seo_block }}
{{ reviews_form }}
{{ big_seo_tabs_block }}
<section class="news">
    <div class="news_backgrounds">
        <div class="background-1">
        </div>
    </div>
    <div class="container">
        <div class="news_container">
            <div class="news_container-header">
                <p>новости и статьи</p>
            </div>
            <div class="news_container-content">
                <div class="news_container-content__list owl-carousel owl-theme">
                    <div class="item news_container-content__list-item">
                        <div class="item news_container-content__list-item__thumb">
                            <img src="/catalog/view/theme/fruits/images/news_1.png" />
                        </div>
                        <div class="item news_container-content__list-item__description">
                            <span>03/ 06 / 2018 </span>
                            <p class="header">ПРИМЕР ЗАГОЛОВКА ВАШЕГО БЛОГА  </p>
                            <p>Established fact that a reader will be distracted by the readable of a page when looking at its layout...</p>
                            <a href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                    <div class="item news_container-content__list-item">
                        <div class="item news_container-content__list-item__thumb">
                        </div>
                        <div class="item news_container-content__list-item__description">
                            <span>03/ 06 / 2018 </span>
                            <p class="header">ПРИМЕР ЗАГОЛОВКА ВАШЕГО БЛОГА  </p>
                            <p>Established fact that a reader will be distracted by the readable of a page when looking at its layout...</p>
                            <a href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                </div>
                <div class="owl-custom-pagination news_container-content-pagination">

                </div>
            </div>
            <div class="news_container-footer">
                <div class="news_container-footer__link">
                    <a href="#" class="">открыть весь список</a>
                </div>
                <div class="news_container-footer__pagination">

                </div>
            </div>
        </div>
    </div>
</section>
{{ contact_form }}
{{ content_bottom }}

{{ footer }}