{{ header }}
<section class="breadcrumbs_block">
    <div class="container">
        <div class="breadcrumbs_block_container">
            <ul class="breadcrumbs_block_container__bread-crumbs">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<section class="product_card">
    <div class="container">
        <div class="product_card_container">
            <div class="product_card_container-item">
                <div class="product_card_container-item-wrap">
                    <div class="product_card_container-item-wrap__images">
                        <div class="product_card_container-item-wrap__images__breadcrumbs">
                           {{ return_text }}
                        </div>
                        <div class="product_card_container-item-wrap__images__title">
                            {{ heading_title }}
                        </div>
                        <img src="{{ thumb }}">
                    </div>
                    <div class="product_card_container-item-wrap__text-wrap">
                        <div class="product_card_container-item-wrap__text-wrap__head">
                            <div class="product_card_container-item-wrap__text-wrap__head_raty raty" data-score="{{ rating }}"></div>
                            <div class="product_card_container-item-wrap__text-wrap__head_like">
                                <button data-product-id="{{ product_id }}" class="product_card_container-item-wrap__text-wrap__head_like__button button_like {% if liked %}liked{% endif %}" type="button">
                                </button>
                            </div>
                            <div class="product_card_container-item-wrap__text-wrap__head_repost">
                                <img src="/catalog/view/theme/fruits/images/icon-repost.png">
                            </div>
                        </div>
                        <div id="tabs-head" class="product_card_container-item-wrap__text-wrap_container tabs_container">
                            <div class="product_card_container-item-wrap__text-wrap_container__tabs">
                                <ul class="tabs_list">
                                    <li><a class="active" href="#tab_description">Описание продукта</a></li>
                                    <li><a href="#tab_rewiews">Отзывы</a></li>
                                    <li><a href="#tab_composition">Состав продукта</a></li>
                                </ul>
                            </div>
                            <div id="tabs-content" class="product_card_container-item-wrap__text-wrap_container-content tabs_items">
                                <div id="tab_description" class="product_card_container-item-wrap__text-wrap_container-content__item active mCustomScrollbar">
                                    <div class="product_card_container-item-wrap__text-wrap_container-content__item-content">
                                        {{ description }}
                                    </div>
                                </div>
                                <div id="tab_rewiews" class="product_card_container-item-wrap__text-wrap_container-content__item">
                                    {{ reviews_block }}
                                </div>
                                <div id="tab_composition" class="product_card_container-item-wrap__text-wrap_container-content__item">
                                    <div class="product_card_container-item-wrap__text-wrap_container-content__item-content">

                                        {% if attribute_groups %}
                                        <table class="product_card_container-item-wrap__text-wrap_container-content__item-content_table">
                                            {% for attribute_group in attribute_groups %}
                                            <thead>
                                            <tr>
                                                <th colspan="2">{{ attribute_group.name }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for attribute in attribute_group.attribute %}
                                            <tr>
                                                <td>{{ attribute.name }}</td>
                                                <td>{{ attribute.text }}</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                            {% endfor %}
                                        </table>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_card_container-item-wrap__text-wrap__addtocart">
                            <div class="product_card_container-item-wrap__text-wrap__addtocart_head">
                                <div class="product_card_container-item-wrap__text-wrap__addtocart_head_type">
                                    {% if options %}
                                        {% for option in options %}
                                            {% if option.type == 'radio' %}

                                                <div id="input-option{{ option.product_option_id }}">

                                                    <div class="product_card_container-item-wrap__text-wrap__addtocart_head_type_title">
                                                        {{ option.name }}
                                                    </div>
                                                    <div class="product_card_container-item-wrap__text-wrap__addtocart_head_type-wrap">
                                                        {% for option_value in option.product_option_value %}
                                                        <button data-product-price="{{ price }}" data-product-option-value-price="{{ option_value.price }}" data-product-option-id="{{ option.product_option_id }}" data-product-option-value-id="{{ option_value.product_option_value_id }}" class="type-amount product_option_value {% if loop.index == 1 %}active{% endif %}">{{ option_value.name }}</button>
                                                        {% endfor %}
                                                    </div>

                                                </div>

                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                </div>
                                <div id="number" class="product_card_container-item-wrap__text-wrap__addtocart_head_number">
                                    <div class="product_card_container-item-wrap__text-wrap__addtocart_head_number_title">
                                        Количество:
                                    </div>
                                    <div class="product_card_container-item-wrap__text-wrap__addtocart_head_number-wrap">
                                        <span class="product_card_container-item-wrap__text-wrap__addtocart_head_number_minus minus">-</span>
                                        <input type="text" value="1" size="5"/>
                                        <span class="product_card_container-item-wrap__text-wrap__addtocart_head_number_plus plus">+</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product_card_container-item-wrap__text-wrap__addtocart_price">
                                {% if price %}
                                     {% if product_option_and_price %}
                                         <span>{{ product_option_and_price }}</span>
                                     {% elseif not special %}
                                         <span>{{ price }}</span>
                                     {% else %}
                                        <span>{{ special }}</span>
                                        <span class="old_price">{{ price }}</span>
                                     {% endif %}
                                {% endif %}
                            </div>
                            <div class="product_card_container-item-wrap__text-wrap__addtocart_button">
                                <a class="button-add-to-cart" data-product-id="{{ product_id }}" href="#">
                                    <span>В Корзину</span> <img src="/catalog/view/theme/fruits/images/icon-bag-big.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% if products %}
<section class="feature_product">
    <div class="container">
        <div class="feature_product_container">
            <div class="feature_product_container-header">
                <p>С этим товаром покупают</p>
            </div>
            <div class="feature_product_container-content">
            <div id="feature_banner" class="owl-carousel owl-theme feature_product_container-content__items">
                {% for product in products %}
                <div class="item">
                    <div class="feature_product_container-content__items-container">
                        <div class="feature_product_container-content__items-container__header">
                            <a href="{{ product.href }}">{{ product.name }}</a>
                            <div class="feature_product_container-content__items-container__header-like">
                                <button class="feature_product_container-content__items-container__header-like__button" type="button"><img src="/catalog/view/theme/fruits/images/icon-liked.png" /></button>
                            </div>
                        </div>
                        <div class="feature_product_container-content__items-container__image">
                            <a href="{{ product.href }}"><img src="{{ product.thumb }}" /></a>
                        </div>
                        <div class="feature_product_container-content__items-container__content">
                            <div class="feature_product_container-content__items-container__content-price">
                                <div class="feature_product_container-content__items-container__content-price__item">
                                    {% if product.price %}
                                       {% if not product.special %}
                                           <p >  {{ product.price }}</p>
                                       {% else %}  <p class="old_price">{{ product.price }}</p> <p class="price-new">{{ product.special }}</p>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="feature_product_container-content__items-container__content-price__item">
                                    <div class="raty"></div>
                                    <div class="feature_product_container-content__items-container__content-price__item-rating">
                                        <img src="/catalog/view/theme/fruits/images/icon-arrow.png" /> <span>2 отзыва</span>
                                    </div>
                                </div>
                            </div>
                            <div class="feature_product_container-content__items-container__content-addtocart">
                                <a class="button-add-to-cart" data-product-id="{{ product.product_id }}" href="#">
                                    <span>В корзину</span> <img src="/catalog/view/theme/fruits/images/icon-bag-big.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
</section>

{% endif %}

{{ footer }} 
