{{ header }}
<section class="breadcrumbs_block">
    <div class="container">
        <div class="breadcrumbs_block_container">
            <ul class="breadcrumbs_block_container__bread-crumbs">
                <li><a class="home" href="/">Главная</a></li>
                <li>Новости компании</li>
            </ul>
        </div>
    </div>
</section>
<div class="blog_unit_page">
    <div class="container">
        <h1 align="center">{{ title }}</h1>
        <img src="{{ image }}" />
        {{ description }}
    </div>
</div>
{{ footer }}