{{ header }}

<section class="breadcrumbs_block">
    <div class="container">
        <div class="breadcrumbs_block_container">
            <ul class="breadcrumbs_block_container__bread-crumbs">
                <li><a class="home" href="index.html">Главная</a></li>
                <li>О Компании</li>
            </ul>
        </div>
    </div>
</section>
{{ description }}
{{ content_top }}

<section class="about_consultation about">
    <div class="container">
        <div class="about_consultation_container">
            <h3>Консультация до и после покупки</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

        </div>
     </div>
 </section>
{{ content_bottom }}
{{ reviews_form }}
<section class="reward_block">
    <div class="container">
        <div class="reward_block_container">
            <div class="reward_block_container-header">
                <p>Наши награды</p>
            </div>
        </div>
        <div class="owl-carousel owl-theme reward reward_block_container-content">
            <div class="reward_block_container-content_item item">
                <img src="/catalog/view/theme/fruits/images/img-reward.jpg">
            </div>
            <div class="reward_block_container-content_item item">
                <img src="/catalog/view/theme/fruits/images/img-reward.jpg">
            </div>
            <div class="reward_block_container-content_item item">
                <img src="/catalog/view/theme/fruits/images/img-reward.jpg">
            </div>
            <div class="reward_block_container-content_item item">
                <img src="/catalog/view/theme/fruits/images/img-reward.jpg">
            </div>
        </div>
    </div>
</section>
<section class="question_block">
    <div class="container">
        <div class="question_block_container">
            <div class="question_block_container-header">
                <p>Есть вопросы? Ответим каждому!</p>
            </div>
            <div class="question_block_container-content">
                <div class="question_block_container-content-item">
                    <div class="question_block_container-content-item__thumb">
                        <img src="/catalog/view/theme/fruits/images/help_2.png" />
                    </div>
                    <div class="question_block_container-content-item__text">
                        <p class="header">Консультация по телефону</p>
                        <p>Возникли вопросы?<br />Мы с радостью на них ответим!<br />+38 (095) 098 90 58</p>
                    </div>
                </div>
                <div class="question_block_container-content-item">
                    <div class="question_block_container-content-item__thumb">
                        <img src="/catalog/view/theme/fruits/images/call-my.png" />
                    </div>
                    <div class="question_block_container-content-item__text">
                        <p class="header">Кобратный звонок</p>
                        <p>Оставьте заявку и мы Вам перезвоним!</p>
                    </div>
                </div>
                <div class="question_block_container-content-item">
                    <div class="question_block_container-content-item__thumb">
                        <img src="/catalog/view/theme/fruits/images/message.png" />
                    </div>
                    <div class="question_block_container-content-item__text">
                        <p class="header">Написать нам письмо</p>
                        <p>Идеи? Предложения?<br />Мы открыты для любых вопросов<br />sample.email@com.ua</p>
                    </div>
                </div>
            </div>
            <div class="question_block_container-link">
                <a href="#" >Заказать звонок</a>
            </div>
        </div>
    </div>
</section>
<section class="faq_block">
    <div class="container">
        <div class="faq_block_container">
            <div class="faq_block_container-header">
                <p>Часто задаваемые вопросы</p>
            </div>
        </div>
        <div class="faq_block_container-content">
            <ul class="faq_block_container-content_wrapper left">
                <li class="faq_block_container-content_wrapper__item">
                    <span class="faq_block_container-content_wrapper__item-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</span><span class="yon">+</span>
                    <div class="faq_block_container-content_wrapper__item-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    </div>
                </li>
                <li class="faq_block_container-content_wrapper__item">
                    <span class="faq_block_container-content_wrapper__item-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</span><span class="yon">+</span>
                    <div class="faq_block_container-content_wrapper__item-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    </div>
                </li>
                <li class="faq_block_container-content_wrapper__item">
                    <span class="faq_block_container-content_wrapper__item-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</span><span class="yon">+</span>
                    <div class="faq_block_container-content_wrapper__item-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    </div>
                </li>
                <li class="faq_block_container-content_wrapper__item">
                    <span class="faq_block_container-content_wrapper__item-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</span><span class="yon">+</span>
                    <div class="faq_block_container-content_wrapper__item-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    </div>
                </li>
            </ul>
            <ul class="faq_block_container-content_wrapper right">
                <li class="faq_block_container-content_wrapper__item">
                    <span class="faq_block_container-content_wrapper__item-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</span><span class="yon">+</span>
                    <div class="faq_block_container-content_wrapper__item-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    </div>
                </li>
                <li class="faq_block_container-content_wrapper__item">
                    <span class="faq_block_container-content_wrapper__item-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</span><span class="yon">+</span>
                    <div class="faq_block_container-content_wrapper__item-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    </div>
                </li>
                <li class="faq_block_container-content_wrapper__item">
                    <span class="faq_block_container-content_wrapper__item-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</span><span class="yon">+</span>
                    <div class="faq_block_container-content_wrapper__item-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    </div>
                </li>
                <li class="faq_block_container-content_wrapper__item">
                    <span class="faq_block_container-content_wrapper__item-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</span><span class="yon">+</span>
                    <div class="faq_block_container-content_wrapper__item-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
{{ footer }}