{{ header }}
<section class="breadcrumbs_block">
    <div class="container">
        <div class="breadcrumbs_block_container">
            <ul class="breadcrumbs_block_container__bread-crumbs">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<section id="ordering" class="ordering_block">
    <div class="container">
        <div class="ordering_block_container">
            <div class="ordering_block_container__login active">

            </div>
            <div class="ordering_block_container__delivery">
                <div class="ordering_block_container__delivery-header">
                    <span class="step"><strong>Шаг 2</strong> / 4</span>
                    <img src="/catalog/view/theme/fruits/images/delivery.png" />
                    <span>Способ доставки</span>
                </div>
                <div class="ordering_block_container__delivery-content">
                    <button disabled class="ordering_block_container__delivery-content__button delivery"><span>Доставка курьером Херсон</span></button>
                    <button disabled class="ordering_block_container__delivery-content__button delivery"><span>Новая почта</span></button>
                    <button disabled class="ordering_block_container__delivery-content__button delivery active"><span>Самовывоз</span></button>
                    <div class="ordering_block_container__delivery-content-submit">
                        <button disabled type="submit"><span>Продолжить</span></button>
                    </div>
                </div>
            </div>
            <div class="ordering_block_container__address">
                <div class="ordering_block_container__address-header">
                    <span class="step"><strong>Шаг 3</strong> / 4</span>
                    <img src="/catalog/view/theme/fruits/images/address.png" />
                    <span>Адрес доставки</span>
                </div>
                <div class="ordering_block_container__address-content">
                    <form id="address_form">
                        <input disabled type="text" name="name" value="" placeholder="Ваш город*" />
                        <input disabled type="text" name="street" value="" placeholder="Ваша улица*" />
                        <input disabled type="text" name="number-home" value="" placeholder="Номер вашего дома*" />
                        <input disabled type="text" name="number-room" value="" placeholder="Номер вашей квартиры*" />
                    </form>
                    <div class="ordering_block_container__address-content-submit">
                        <button disabled form="address_form" type="submit"><span>Продолжить</span></button>
                    </div>
                </div>
            </div>
            <div class="ordering_block_container__paid">
                <div class="ordering_block_container__paid-header">
                    <span class="step"><strong>Шаг 4</strong> / 4</span>
                    <img src="/catalog/view/theme/fruits/images/paid.png" />
                    <span>Способы оплаты</span>
                </div>
                <div class="ordering_block_container__paid-content">
                    <button disabled class="ordering_block_container__paid-content__button paid"><span>Наличными при получении</span></button>
                    <button disabled class="ordering_block_container__paid-content__button paid active"><span>Оплата банковской картой</span></button>
                    <div class="ordering_block_container__paid-content-important">
                        <p><span>*</span> Оплата производится наложенным платежом при получении товара в почтовом отделении. Стоимость доставки товара рассчитывается индивидуально. Учитывается вес посылки, дальность отправления и способ доставки (наземная/авиа).</p>
                    </div>
                    <div class="ordering_block_container__paid-content-submit">
                        <button disabled type="submit"><span>Продолжить</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ footer }}

<script type="text/javascript">
    $(document).ready(function() {
    {% if not logged %}

        $.ajax({
            url: 'index.php?route=checkout/login',
            dataType: 'html',
            success: function(html) {
                $('.ordering_block_container__login').html(html);
 },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });

    {% else %}
    $(document).ready(function() {
        $.ajax({
            url: 'index.php?route=checkout/payment_address',
            dataType: 'html',
            success: function(html) {
                $('#collapse-payment-address .panel-body').html(html);

                $('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="fa fa-caret-down"></i></a>');

                $('a[href=\'#collapse-payment-address\']').trigger('click');
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
    {% endif %}

    $('body').on('click','.login__form-submit button', function(){
        //Login
        var self = this;
        switch($(self).attr('form')){
            case 'login_form':
                $.ajax({
                    url: 'index.php?route=checkout/login/save',
                    type: 'post',
                    data: $('#'+$(self).attr('form')).serialize(),
                    dataType: 'json',
                    beforeSend: function() {
                        $('#button-login').button('loading');
                    },
                    complete: function() {
                        $('#button-login').button('reset');
                    },
                    success: function(json) {
                        $('.alert-dismissible, .text-danger').remove();
                        $('.form-group').removeClass('has-error');

                        if (json['redirect']) {
                            location = json['redirect'];
                        } else if (json['error']) {
                            $('#collapse-checkout-option .panel-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

                            // Highlight any found errors
                            $('input[name=\'email\']').parent().addClass('has-error');
                            $('input[name=\'password\']').parent().addClass('has-error');
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });

                break;
            case 'register_form':

                //Register
                $.ajax({
                    url: 'index.php?route=checkout/register/save',
                    type: 'post',
                    data: $('#'+$(self).attr('form')).serialize(),
                    dataType: 'json',
                    beforeSend: function() {
                    },
                    success: function(json) {
                        $('.alert-dismissible, .text-danger').remove();
                        $('.form-group').removeClass('has-error');

                        if (json['redirect']) {
                            location = json['redirect'];
                        } else if (json['error']) {
                            $('#button-register').button('reset');

                            if (json['error']['warning']) {
                                $('#collapse-payment-address .panel-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                            }

                            for (i in json['error']) {
                                var element = $('#input-payment-' + i.replace('_', '-'));

                                if ($(element).parent().hasClass('input-group')) {
                                    $(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
                                } else {
                                    $(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
                                }
                            }

                            // Highlight any found errors
                            $('.text-danger').parent().addClass('has-error');
                        } else {
                            {% if shipping_required %}
                            var shipping_address = $('#payment-address input[name=\'shipping_address\']:checked').prop('value');

                            if (shipping_address) {
                                $.ajax({
                                    url: 'index.php?route=checkout/shipping_method',
                                    dataType: 'html',
                                    success: function(html) {
                                        // Add the shipping address
                                        $.ajax({
                                            url: 'index.php?route=checkout/shipping_address',
                                            dataType: 'html',
                                            success: function(html) {
                                                $('#collapse-shipping-address .panel-body').html(html);

                                                $('#collapse-shipping-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_address }} <i class="fa fa-caret-down"></i></a>');
                                            },
                                            error: function(xhr, ajaxOptions, thrownError) {
                                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                            }
                                        });

                                        $('#collapse-shipping-method .panel-body').html(html);

                                        $('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_method }} <i class="fa fa-caret-down"></i></a>');

                                        $('a[href=\'#collapse-shipping-method\']').trigger('click');

                                        $('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_shipping_method }}');
                                        $('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
                                        $('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                                    },
                                    error: function(xhr, ajaxOptions, thrownError) {
                                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                    }
                                });
                            } else {
                                $.ajax({
                                    url: 'index.php?route=checkout/shipping_address',
                                    dataType: 'html',
                                    success: function(html) {
                                        $('#collapse-shipping-address .panel-body').html(html);

                                        $('#collapse-shipping-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-shipping-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_address }} <i class="fa fa-caret-down"></i></a>');

                                        $('a[href=\'#collapse-shipping-address\']').trigger('click');

                                        $('#collapse-shipping-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_shipping_method }}');
                                        $('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
                                        $('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                                    },
                                    error: function(xhr, ajaxOptions, thrownError) {
                                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                    }
                                });
                            }
                            {% else %}
                            $.ajax({
                                url: 'index.php?route=checkout/payment_method',
                                dataType: 'html',
                                success: function(html) {
                                    $('#collapse-payment-method .panel-body').html(html);

                                    $('#collapse-payment-method').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-method" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_method }} <i class="fa fa-caret-down"></i></a>');

                                    $('a[href=\'#collapse-payment-method\']').trigger('click');

                                    $('#collapse-checkout-confirm').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                }
                            });
                            {% endif %}

                            $.ajax({
                                url: 'index.php?route=checkout/payment_address',
                                dataType: 'html',
                                complete: function() {
                                    $('#button-register').button('reset');
                                },
                                success: function(html) {
                                    $('#collapse-payment-address .panel-body').html(html);

                                    $('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="fa fa-caret-down"></i></a>');
                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                }
                            });
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
                break;
        }


    });
    });

</script>